<form class="center-content" (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Resetowanie hasła</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Email" formControlName="email">
                @if (form.controls['email'].hasError('required')) {
                <mat-error>Email jest <strong>wymagany</strong></mat-error>
                }
                @if (form.controls['email'].hasError('email')) {
                <mat-error>Podaj <strong>poprawny</strong> adres email</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Kod otrzymany mailem</mat-label>
                <input matInput type="text" formControlName="reset_code" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Nowe hasło</mat-label>
                <input matInput type="password" formControlName="new_password" required>
                @if (form.controls['new_password'].hasError('required')) {
                <mat-error>Hasło jest <strong>wymagane</strong></mat-error>
                }
                @if (form.controls['new_password'].hasError('passwordStrength')) {
                <mat-error>Hasło zawierać przynajmniej jedną <strong>małą i dużą literę oraz
                        cyfrę</strong></mat-error>
                }
                @if (form.controls['new_password'].hasError('minlength')) {
                <mat-error>Hasło musi mieć minimum <strong>8 znaków</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Ponownie nowe hasło</mat-label>
                <input matInput type="password" formControlName="new_password2" required>
                @if (form.controls['new_password2'].hasError('required')) {
                <mat-error>Hasło jest <strong>wymagane</strong></mat-error>
                }
                @if (form.controls['new_password2'].hasError('equals')) {
                <mat-error>Podane hasła <strong>różnią</strong> się</mat-error>
                }
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button routerLink="/">Anuluj</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Zmień</button>
        </mat-card-actions>
    </mat-card>
</form>