<form class="center-content" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Żądanie resetowania hasła</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label>Adres e-mail</mat-label>
                <input matInput type="email" placeholder="Adres e-mail" formControlName="email" required autofocus>
                @if (form.controls['email'].hasError('required')) {
                <mat-error>Email jest <strong>wymagany</strong></mat-error>
                }
                @if (form.controls['email'].hasError('email')) {
                <mat-error>Podaj <strong>poprawny</strong> adres email</mat-error>
                }
            </mat-form-field>
            <p>
                Jeśli użytkownik o podanym powyżej adresie e-mail jest zarejestrowany w systemie,
                to na ten adres zostanie wysłany e-mail z kodem do resetowania hasła, który
                należy podać w kolejnym formularzu.
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button type="button" routerLink="/">Zaloguj</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Reset hasła</button>
            <button mat-raised-button type="button" routerLink="/reset-password">Reset hasła kodem</button>
        </mat-card-actions>
    </mat-card>
</form>