:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}


main {
    width: 100%;
    height: calc(100% - 1.5em - var(--mat-toolbar-standard-height));
    display: grid;
    place-items: center;
}

footer {
    flex: 0 0 auto;
    padding: 0em 0.5em 0.5em 0.5em;
    text-align: right;
    height: 1em;
}
