<article>
    <h1>Regulamin korzystania z Aplikacji Asystenta AI</h1>
    <h2>§ 1 Postanowienia ogólne</h2>

    <ol>
        <li>Niniejszy Regulamin określa warunki korzystania z Aplikacji Asystenta AI (dalej: Aplikacja) dostępnej na
            stronie internetowej <a [href]="url">{{url}}</a>.</li>
        <li>Administratorem Aplikacji jest <b>Hanse Intelli Tech</b>, z siedzibą w Gdańsku, NIP: 876-17-23-578 (dalej:
            Administrator).</li>
        <li>Korzystanie z Aplikacji jest równoznaczne z akceptacją niniejszego Regulaminu.</li>
        <li>Regulamin dostępny jest w języku polskim na stronie internetowej Aplikacji.</li>
    </ol>

    <h2>§ 2 Definicje</h2>

    <ol>
        <li><b>Aplikacja</b> - oprogramowanie dostępne na stronie internetowej <a [href]="url">{{url}}</a>,
            udostępniające
            użytkownikom funkcje asystenta sztucznej inteligencji.</li>
        <li><b>Użytkownik</b> - osoba fizyczna, osoba prawna lub jednostka organizacyjna nieposiadająca osobowości
            prawnej,
            korzystająca z Aplikacji.</li>
        <li><b>Konto</b> - indywidualne konto Użytkownika w Aplikacji, umożliwiające dostęp do jego danych i historii
            korzystania z Aplikacji.</li>
    </ol>

    <h2>§ 3 Zasady korzystania z Aplikacji</h2>

    <ol>
        <li>Użytkownik może korzystać z Aplikacji w celu:
            <ul>
                <li>Uzyskania odpowiedzi na pytania i informacji.</li>
                <li>Generowania treści tekstowych.</li>
                <li>Wspomagania kreatywności i efektywności pracy.</li>
                <li>Rozwiązywania problemów i podejmowania decyzji.</li>
            </ul>
        </li>
        <li>Użytkownik zobowiązany jest do korzystania z Aplikacji w sposób zgodny z prawem i dobrymi obyczajami.</li>
        <li>Użytkownik nie może:<ul>
                <li>Udostępniać danych osobowych innych osób bez ich zgody.</li>
                <li>Publikować treści obraźliwych, wulgarnych, nienawistnych lub naruszających prawa osób trzecich.</li>
                <li>Wykorzystywać Aplikacji do działań nielegalnych lub sprzecznych z prawem.</li>
                <li>Próby naruszenia bezpieczeństwa Aplikacji lub dostępu do jej systemu.</li>
            </ul>
        </li>
        <li>Administrator zastrzega sobie prawo do blokowania dostępu do Aplikacji Użytkownikom, którzy naruszają
            postanowienia niniejszego Regulaminu.</li>
    </ol>

    <h2>§ 4 Odpowiedzialność</h2>

    <ol>
        <li>Administrator nie ponosi odpowiedzialności za:
            <ul>
                <li>Treść informacji generowanych przez Aplikację.</li>
                <li>Użytkowanie Aplikacji niezgodne z prawem.</li>
                <li>Szkody wynikłe z korzystania z Aplikacji przez Użytkownika.</li>
            </ul>
        </li>
        <li>Użytkownik ponosi pełną odpowiedzialność za wszelkie działania podejmowane w związku z korzystaniem z
            Aplikacji.
        </li>
    </ol>

    <h2>§ 5 Dane osobowe</h2>

    <ol>
        <li>Administrator przetwarza dane osobowe Użytkowników zgodnie z Polityką Prywatności dostępną na stronie
            internetowej <a routerLink="/static/privacy-policy">https://ai-chat.leliwa.priv.pl/static/privacy-policy</a> .</li>
        <li>Użytkownik ma prawo do:<ul>
                <li>Dostępu do swoich danych osobowych.</li>
                <li>Sprostowania nieprawidłowych danych osobowych.</li>
                <li>Usunięcia swoich danych osobowych.</li>
                <li>Ograniczenia przetwarzania danych osobowych.</li>
                <li>Przenoszenia danych osobowych.</li>
                <li>Wniesienia sprzeciwu wobec przetwarzania danych osobowych.</li>
            </ul>
        </li>
    </ol>

    <h2>§ 6 Zmiany Regulaminu</h2>

    <ol>
        <li>Administrator ma prawo do zmiany niniejszego Regulaminu.</li>
        <li>Informacja o zmianach Regulaminu zostanie opublikowana na stronie internetowej Aplikacji.</li>
        <li>Zmiany Regulaminu wchodzą w życie w terminie wskazanym przez Administratora.</li>
    </ol>

    <h2>§ 7 Postanowienia końcowe</h2>


    <ol>
        <li>Wszelkie spory powstałe w związku z korzystaniem z Aplikacji będą rozstrzygane przez sąd właściwy dla
            siedziby
            Administratora.</li>
        <li>Niniejszy Regulamin wchodzi w życie z dniem 1 lipca 2024 roku.</li>
    </ol>
</article>