.flex-spacer {
    flex: 1 1 auto;
}

.profile-photo {
    border-radius: 50%;
    width: calc(var(--mat-toolbar-standard-height) * 0.8);
    height: calc(var(--mat-toolbar-standard-height) * 0.8);
    border: 2px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    min-width: 15%;
    max-width: 30%;
}

.sidenav .back {
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 1;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}