@if (recognition) {
<button #button mat-icon-button
    [matTooltip]="speechSynthesisService.isSpeaking? 'Stop speaking' : (isHearing ? 'I\'m hearing' : 'Talk to me')"
    (click)="speechSynthesisService.isSpeaking ? speechSynthesisService.stopSpeaking() : (isHearing ? stopRecognition() : startRecognition())">
    @if (speechSynthesisService.isSpeaking) {
    <mat-icon class="pulsating-icon">campaign</mat-icon>
    } @else if (!isHearing) {
    <mat-icon>microphone</mat-icon>
    } @else if (progresPercent > 25) {
    <mat-icon>stop</mat-icon>
    } @else {
    <mat-icon class="pulsating-icon">hearing</mat-icon>
    }
</button>
}
@if (progresPercent > 5) {
<mat-progress-spinner mode="determinate" [value]="progresPercent" diameter="48">
</mat-progress-spinner>
}