.full-width-table {
    width: 100%;
}

mat-toolbar span {
    margin-right: 1rem;
}

.table-filter {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.table-filter mat-form-field {
    flex: 1;
    align-items: stretch;
    font-size: 14px;
    margin: 0.5em;
    margin-bottom: 0px;
}

::ng-deep .table-filter .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

div.is-loading-progress {
    display: flex;
    justify-content: center;
    align-items: center;
}