<div class="content">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="input-area">
            <textarea #messageInput matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="10"
                formControlName="query" placeholder="Type a RAG query ..." (keyup.enter)="onSubmit()">
            </textarea>
            <button mat-icon-button matTooltip="Send message" type="submit" [disabled]="isLoading">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </form>

    @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    @if (results.length > 0) {
    <mat-accordion>
        @for (result of results; track result.item_id) {
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>{{ result.title }}</mat-panel-title>
                @if (result.keywords.length > 0) {
                <mat-chip-set>
                    @for (keyword of result.keywords; track keyword) {
                    <mat-chip>{{keyword}}</mat-chip>
                    }
                </mat-chip-set>
                }
            </mat-expansion-panel-header>
            <div [innerHTML]="result.content | markdown"></div>
            @if (!isEmpty(result.metadata)) {
            <hr>
            <div>
                <h3>Metadane:</h3>
                <ul>
                    @for (item of result.metadata | keyvalue; track item.key) {
                    <li>
                        {{ item.key }}: {{ item.value }}
                    </li>
                    }
                </ul>
            </div>
            }
        </mat-expansion-panel>
        }
    </mat-accordion>
    }
    @if (!isLoading && results.length === 0 && searchForm.get('query')?.value !== '') {
    <div>Brak wyników.</div>
    }
</div>