<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"
        [class.handset]="isHandset">
        @if (isHandset$ | async) {
        <button class="back" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        }
        <mat-action-list>
            <mat-list-item [class.handset]="isHandset">
                <a class="side-menu-item" matLine (click)="newChat()">New chat [{{model}}]</a>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    @for( model of models; track model) {
                    <button mat-menu-item (click)="setModel(model)">{{model}}</button>
                    }
                </mat-menu>
            </mat-list-item>
        </mat-action-list>
        <app-chat-list (loadEvent)="loadChat($event)" (deleteEvent)="deleteChat($event)">
        </app-chat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            @if (isHandset$ | async) {
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            }
            <span>AI Chat</span>
            <div class="flex-spacer"></div>
            @if (!(isHandset$ | async)) {
            <img src="{{ authService.user?.photoUrl }}" class="profile-photo" alt="User profile"
                referrerpolicy="no-referrer">
            }
            <button mat-icon-button aria-label="Logout" (click)="authService.signOut()">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar>
        <div class="chat" [class.handset]="isHandset">
            <div #container class="chat-container">
                @if(session){
                @for (message of session.history; track message; let index=$index; let last=$last) {
                @if (message.content) {
                <div class="message {{message.author}}" (mouseover)="actionButtons=index"
                    (mouseleave)="actionButtons=undefined" (focus)="actionButtons=index">
                    @if(message.files && message.files.length > 0) {
                    <mat-chip-set>
                        @for (file of message.files; track file; let index=$index) {
                        <mat-chip-set>
                            <mat-chip>{{file.name}}</mat-chip>
                        </mat-chip-set>
                        }
                    </mat-chip-set>
                    }
                    <div [innerHTML]="message.content | markdown"></div>
                    @if(actionButtons==index && message.author == 'user') {
                    <div class="action-buttons">
                        <button mat-mini-fab matTooltip="Edit changeMessage" color="primary"
                            (click)="changeMessage(index)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                    }
                </div>
                } @else if (waitingForResponse && message.content=="") {<div
                    class="message {{message.author}} loading-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                } @else {
                <div class="message {{message.author}}">
                    <pre>{{message | json}}</pre>
                </div>
                }
                }
                }
            </div>
            @if(progressSpinner) {
            <div class="spinner-overlay">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
            }
            @if(waitingForResponse) {
            <button class="cancel-generating" mat-mini-fab (click)="cancelGenerating()" matTooltip="Cancel generating"
                color="warn">
                <mat-icon>cancel</mat-icon>
            </button>
            }

            <div class="input-area" (drop)="onFileDropped($event)" (dragover)="$event.preventDefault()">
                <mat-chip-set class="files-bar">
                    @for (file of selectedFiles; track file; let index=$index) {
                    <mat-chip-row (removed)="removeFile(index)"
                        [class]="'background-progress-' + uploadProgress[index]">
                        {{file.name}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    }
                </mat-chip-set>
                <div class="input-bar">
                    <button mat-icon-button matTooltip="Select file or drop here" (click)="openFileDialog()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                    <textarea matInput [(ngModel)]="newMessage" (keyup.enter)="sendMessageAsync()"
                        [disabled]="isLoading || waitingForResponse" placeholder="Type a message..."></textarea>
                    <button mat-icon-button matTooltip="Send message" (click)="sendMessageAsync()"
                        [disabled]="isLoading || waitingForResponse">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>