@use '@angular/material' as mat;

@include mat.core();
@include mat.strong-focus-indicators();

$my-primary: mat.m2-define-palette(mat.$m2-blue-palette, 700, 500, 900);
$my-accent: mat.m2-define-palette(mat.$m2-amber-palette, 600, 400, 800);

$my-theme: mat.m2-define-light-theme((color: (primary: $my-primary,
                accent: $my-accent,
            ),
            typography: mat.m2-define-typography-config(),
            density: 0,
        ));

@include mat.all-component-themes($my-theme);
@include mat.strong-focus-indicators-theme($my-theme);

.mat-body p,
.mat-body-2 p,
.mat-typography .mat-body p,
.mat-typography .mat-body-2 p,
.mat-typography p {
    margin: 0 0 12px
}

.message.user {
    background-color: mat.get-theme-color($my-theme, primary, lighter);
}

.background-progress-0 {
    background: linear-gradient(to right, mat.get-theme-color($my-theme, primary, lighter) 0%, transparent 0%)
}

.background-progress-10 {
    background: linear-gradient(to right, mat.get-theme-color($my-theme, primary, lighter) 10%, transparent 10%)
}

.background-progress-20 {
    background: linear-gradient(to right, mat.get-theme-color($my-theme, primary, lighter) 20%, transparent 20%)
}

.background-progress-30 {
    background: linear-gradient(to right, mat.get-theme-color($my-theme, primary, lighter) 30%, transparent 30%)
}

.background-progress-40 {
    background: linear-gradient(to right, mat.get-theme-color($my-theme, primary, lighter) 40%, transparent 40%)
}

.background-progress-50 {
    background: linear-gradient(to right, mat.get-theme-color($my-theme, primary, lighter) 50%, transparent 50%)
}

.background-progress-60 {
    background: linear-gradient(to right, mat.get-theme-color($my-theme, primary, lighter) 60%, transparent 60%)
}

.background-progress-70 {
    background: linear-gradient(to right, mat.get-theme-color($my-theme, primary, lighter) 70%, transparent 70%)
}

.background-progress-80 {
    background: linear-gradient(to right, mat.get-theme-color($my-theme, primary, lighter) 80%, transparent 80%)
}

.background-progress-90 {
    background: linear-gradient(to right, mat.get-theme-color($my-theme, primary, lighter) 90%, transparent 90%)
}

.background-progress-100 {
    background: linear-gradient(to right, mat.get-theme-color($my-theme, primary, lighter) 100%, transparent 100%)
}