<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Knowledge Base Item</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" formControlName="title">
                        @if (form.controls['title'].hasError('required')) {
                        <mat-error>Title is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Content</mat-label>
                        <textarea matInput rows=22 placeholder="Content" formControlName="content"></textarea>
                        @if (form.controls['content'].hasError('required')) {
                        <mat-error>Content is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Keywords</mat-label>
                        <mat-chip-grid #chipGrid aria-label="Enter keywords" formControlName="keywords">
                            @for (keyword of form.controls["keywords"].value; track keyword) {
                            <mat-chip-row (removed)="removeKeyword(keyword)">
                                {{keyword}}
                                <button matChipRemove aria-label="'remove ' + keyword">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                            }
                        </mat-chip-grid>
                        <input placeholder="New keyword..." [matChipInputFor]="chipGrid"
                            (matChipInputTokenEnd)="addKeyword($event)" />
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>